.logs::-webkit-scrollbar-track,
.stat-tabs::-webkit-scrollbar-track {
    background-color: #292b2c;
}

.nav.nav-tabs::-webkit-scrollbar-track {
    background-color: #292b2c;
}

.logs::-webkit-scrollbar,
.stat-tabs::-webkit-scrollbar {
    width: 6px;
    background-color: #292b2c;
}

.nav.nav-tabs::-webkit-scrollbar {
    height: 8px;
    background-color: #292b2c;
}

.logs::-webkit-scrollbar-thumb,
.stat-tabs::-webkit-scrollbar-thumb {
    background-color: #DDDDDD;
}

.nav.nav-tabs::-webkit-scrollbar-thumb {
    background-color: #DDDDDD;
}