@media (min-width: 768px) {
    .console, .console::before, .console::after {
        width: 650px;
    }
    .console::before, .console::after {
        left: 50px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 630px;
    }
    .input-container {
        width: 550px;
    }
    .text-side {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .console, .console::before, .console::after {
        width: 880px;
    }
    .console::before, .console::after {
        left: 45px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 860px;
    }
    .input-container {
        width: 780px;
    }
    .text-side {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .console, .console::before, .console::after {
        width: 1090px;
    }
    .console::before, .console::after {
        left: 40px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 1070px;
    }
    .input-container {
        width: 990px;
    }
    .text-side {
        width: 100%;
    }
}

/* HIGHLY BASED FROM MY ORIGINAL ONE :
 * http://totominc.github.io/fallout-terminal/ */

.console {
    margin: 0 auto;
    height: 650px;
    border: 10px solid #000;
    border-radius: 20px;
    background: #1D1D1D;
}

.console::before {
    z-index: 2;
    position: absolute;
    content: '';
    height: 650px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.5;
    background: linear-gradient(135deg,
        rgba(149,149,149,0.5) 0%,
        rgba(13,13,13,0.55) 19%,
        rgba(1,1,1,0.64) 50%,
        rgba(10,10,10,0.69) 69%,
        rgba(51,51,51,0.73) 84%,
        rgba(22,22,22,0.76) 93%,
        rgba(27,27,27,0.78) 100%);
}

.console::after {
    z-index: 1;
    position: absolute;
    content: '';
    height: 650px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.05;
    background: #ddd;
}

.bottom-stats {
    height: 100px;
    width: 100%;
    margin-top: 530px;
    border-top: 10px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #080808;
}

.stats .row {
    padding: 3px 10px;
}

.console .stats p {
    font-size: 14px;
    line-height: 20px;
    color: #18ff62;
}
.console.dark .stats p {
    color: white !important;
}
.console.monokai .stats p {
    color: #66D9EF;
}
.console.afterglow .stats p {
    color: rgba(255,198,109,1);
}
.console.fluoro .stats p {
    color: rgba(249,91,128,1);
}

.screen {
    z-index: 3;
    position: absolute;
    overflow: hidden;
    height: 530px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000;
    -webkit-box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
    box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
}

.screen::before {
    z-index: 10;
    position: absolute;
    content: '';
    height: 530px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.6) 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: 0.15;
    -o-animation: pulse 5s linear infinite;
    -moz-animation: pulse 5s linear infinite;
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

.screen.no-blackbars::before {
    display: none;
}

.logo-layer {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/imgs/console-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
}

.layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: radial-gradient(ellipse at center,
        rgba(0,255,119,0.3) 0%,
        rgba(255,255,255,0) 100%);
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, .1);
    transform-origin: 50% 50%;
    opacity: 0.9;
}

.layer:after {
    position: absolute;
    content: '';
    height: 530px;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,0) 100%);
    opacity: 0.1;
}
.console.monokai .layer {
    background: radial-gradient(ellipse at center,
        rgba(102,217,239,0.4) 0%,
        rgba(255,255,255,0) 100%);
}
.console.dark .layer {
    background: radial-gradient(ellipse at center,
        rgba(102,171,178,0.4) 0%,
        rgba(255,255,255,0) 100%);
}
.console.afterglow .layer {
    background: radial-gradient(ellipse at center,
        rgba(161,97,122,0.4) 0%,
        rgba(255,255,255,0) 100%);
}
.console.fluoro .layer {
    background: radial-gradient(ellipse at center,
        rgba(32,9,51,0.7) 0%,
        rgba(255,255,255,0) 100%);
}

.text {
    z-index: 4;
    position: absolute;
}

.text::before {
    display: none;
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,
        rgba(255,250,250,1) 50%,
        rgba(255,255,255,0.98) 51%,
        rgba(255,0,0,0) 100%);
    opacity: 0.05;
    -o-animation: barline 8s linear infinite;
    -moz-animation: barline 8s linear infinite;
    -webkit-animation: barline 8s linear infinite;
    animation: barline 8s linear infinite;
}

.output {
    display: block !important;
    overflow: hidden;
    padding: 10px;
    resize: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 0 none;
    height: 480px;
    color: #18FF62;
    text-shadow: 0px 0px 2px rgba(10, 255, 10, .8);
    line-height: 14px;
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.19) 100%);
    cursor: default;
}

.output a {
    transition: color 1s;
    font-weight: bold;
    color: inherit;
}

.output p {
    transition: color 1s;
    margin: 0 0 7px;
}

.console .output p {
    text-shadow: 2px 2px 8px #337147, -2px -2px 8px #337147, -2px 2px 8px #337147, 2px -2px 8px #337147;
}
.console.monokai .output p {
    color: #66D9EF !important;
    text-shadow: 2px 2px 8px #497f8a, -2px -2px 8px #497f8a, -2px 2px 8px #497f8a, 2px -2px 8px #497f8a;
}
.console.dark .output p {
    color: white !important;
    text-shadow: 2px 2px 8px #696969, -2px -2px 8px #696969, -2px 2px 8px #696969, 2px -2px 8px #696969;
}
.console.afterglow .output p {
    color: rgba(255,198,109,1) !important;
    text-shadow: 2px 2px 8px #613c00, -2px -2px 8px #613c00, -2px 2px 8px #613c00, 2px -2px 8px #613c00;
}
.console.fluoro .output p {
    color: rgba(249,91,128,1) !important;
    text-shadow: 2px 2px 8px #820826, -2px -2px 8px #820826, -2px 2px 8px #820826, 2px -2px 8px #820826;
}

.console .output .error {
    color: #f5cd2f !important;
    text-shadow: 2px 2px 8px #9c5424, -2px -2px 8px #9c5424, -2px 2px 8px #9c5424, 2px -2px 8px #9c5424;
}
.console.monokai .output .error {
    color: #ff85b1 !important;
    text-shadow: 2px 2px 8px #6f3248, -2px -2px 8px #6f3248, -2px 2px 8px #6f3248, 2px -2px 8px #6f3248;
}
.console.dark .output .error {
    color: #ffd631 !important;
    text-shadow: 2px 2px 8px #583a25, -2px -2px 8px #583a25, -2px 2px 8px #583a25, 2px -2px 8px #583a25;
}
.console.afterglow .output .error {
    color: #d3422e !important;
    text-shadow: 2px 2px 8px #5d1c14, -2px -2px 8px #5d1c14, -2px 2px 8px #5d1c14, 2px -2px 8px #5d1c14;
}
.console.fluoro .output .error {
    color: rgba(252,25,154,1) !important;
    text-shadow: 2px 2px 8px #790245, -2px -2px 8px #790245, -2px 2px 8px #790245, 2px -2px 8px #790245;
}

.console .output .error b {
    color: #ffe88d !important;
}
.console.monokai .output .error b {
    color: #da7197 !important;
}
.console.dark .output .error b {
    color: #fdd84b !important;
}
.console.afterglow .output .error b {
    color: #cc7833 !important;
    text-shadow: 2px 2px 8px #39220e, -2px -2px 8px #39220e, -2px 2px 8px #39220e, 2px -2px 8px #39220e;
}
.console.fluoro .output .error b {
    color: rgba(253,137,2,1) !important;
    text-shadow: 2px 2px 8px #603401, -2px -2px 8px #603401, -2px 2px 8px #603401, 2px -2px 8px #603401;
}

.console .output p b {
    color: #90ffb4;
}
.console.monokai .output p b {
    color: #A6E22E !important;
    text-shadow: 2px 2px 8px #5a6f31, -2px -2px 8px #5a6f31, -2px 2px 8px #5a6f31, 2px -2px 8px #5a6f31;
}
.console.dark .output p b {
    color: #66ABB2 !important;
    text-shadow: 2px 2px 8px #3f494a, -2px -2px 8px #3f494a, -2px 2px 8px #3f494a, 2px -2px 8px #3f494a;
}
.console.afterglow .output p b {
    color: #ab7388 !important;
    text-shadow: 2px 2px 8px #39222b, -2px -2px 8px #39222b, -2px 2px 8px #39222b, 2px -2px 8px #39222b;
}
.console.fluoro .output p b {
    color: rgba(47,252,29,1) !important;
    text-shadow: 2px 2px 8px #074b01, -2px -2px 8px #074b01, -2px 2px 8px #074b01, 2px -2px 8px #074b01;
}

.console.monokai .output .error b {
    text-shadow: 2px 2px 8px #58303f, -2px -2px 8px #58303f, -2px 2px 8px #58303f, 2px -2px 8px #58303f;
}

.text-side {
    overflow-y: auto;
    float: left;
    height: 100%;
}

.text-side p {
    margin: 0 !important;
    text-align: left;
    line-height: 25px;
}

.infos-side {
    float: right;
    height: 100%;
}

.infos-side p {
    text-align: right;
}

.console-mults {
    position: absolute;
    right: 10px;
    bottom: 85px;
}

.console-bottom {
    position: absolute;
    right: 10px;
    bottom: 60px;
}

.input {
    display: block !important;
    overflow: hidden;
    margin-bottom: 15px;
    /* width: 100%; */
    height: 40px;
    color: #18FF62;
    text-shadow: 0px 0px 2px rgba(10, 255, 10, .8);
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.19) 100%);
}
.console.monokai .input {
    color: #66D9EF !important;
    text-shadow: none !important;
}
.console.dark .input {
    color: #fff !important;
    text-shadow: none !important;
}
.console.afterglow .input {
    color: #a1617a !important;
    text-shadow: none !important;
}
.console.fluoro .input {
    color: rgba(249,91,128,1) !important;
    text-shadow: none !important;
}

.blinking-arrow {
    float: left;
    height: 100%;
    width: 20px;
    margin-top: 5px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: all 250ms;
}

.console .blinking-arrow:hover {
    transition: all 250ms;
    text-shadow: 0px 0px 8px #18FF62;
}
.console.monokai .blinking-arrow:hover {
    text-shadow: 0px 0px 8px #66D9EF;
}
.console.dark .blinking-arrow:hover {
    text-shadow: 0px 0px 8px #366267 !important;
}
.console.afterglow .blinking-arrow:hover {
    text-shadow: 0px 0px 8px #7c4b5e !important;
}
.console.fluoro .blinking-arrow:hover {
    text-shadow: 0px 0px 8px #820826 !important;
}

.blinking-arrow > i {
    -o-animation: blinking-arrow 2s linear infinite;
    -moz-animation: blinking-arrow 2s linear infinite;
    -webkit-animation: blinking-arrow 2s linear infinite;
    animation: blinking-arrow 2s linear infinite;
}

.enter {
    float: right;
    height: 100%;
    width: 20px;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: all 250ms;
}

.console .enter:hover {
    transition: all 250ms;
    text-shadow: 0px 0px 8px #18FF62;
}
.console.monokai .enter:hover {
    text-shadow: 0px 0px 8px #66D9EF;
}
.console.dark .enter:hover {
    text-shadow: 0px 0px 8px #366267 !important;
}
.console.afterglow .enter:hover {
    text-shadow: 0px 0px 8px #7c4b5e !important;
}
.console.fluoro .enter:hover {
    text-shadow: 0px 0px 8px #820826 !important;
}

.input-container {
    float: left;
    height: 30px;
    margin-top: 5px;
    font-size: 24px;
    margin-right: 5px;
    transition: 200ms;
    border: 1px solid transparent;
    border-radius: 4px;
}

.console .input-container:hover {
    transition: all 350ms;
    border-color: #0e712e;
}
.console.monokai .input-container:hover {
    border-color: #66D9EF !important;
}
.console.dark .input-container:hover {
    border-color: #366267 !important;
}
.console.afterglow .input-container:hover {
    border-color: #a1617a !important;
}
.console.fluoro .input-container:hover {
    border-color: rgba(181, 3, 104, 1) !important;
}

#console-input::selection {
    background: green;
}

.input-text {
    vertical-align: middle;
    height: 30px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 13px;
    padding-left: 3px;
    border: none;
    background: transparent;
}

input {
    cursor: pointer;
}

input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.virus-factoid .virus-factoid-content {
    display: none;
}
.virus-factoid:hover .virus-factoid-content,
.virus-factoid:hover .virus-factoid-content:hover {
    display: block;
}