@keyframes cursor {
	0% { opacity: 0; }
	40% { opacity: 0; }
	50% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes low-battery {
    0% { border-color: #8e3734; }
    50% { border-color: #bf4f4b; }
    100% { border-color: #8e3734; }
}

.logo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/logo.png) center center no-repeat;
    opacity: 0.1;
}
body.inverted .logo {
    opacity: 0.03;
}

.intro {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.intro .terminal {
    width: 60%;
    height: 500px;
}
.intro .terminal .logs {
    float: none !important;
    width: 100% !important;
    height: calc(500px - 42px);
}
.intro .terminal .input {
    width: 100%;
    height: 42px;
}

.game {
    display: none;
    z-index: 1000;
}

.terminal {
    width: 100%;
    height: calc(100vh - 42px);
}
.terminal.inverted {
    color: #f1f1f1;
}

.terminal .logs {
    overflow-y: auto;
    float: left;
    padding: 10px;
    width: 70%;
    height: 100%;
}
.terminal .logs .buttons {
    float: right;
    width: 150px;
    height: 40px;
}
.terminal .logs p, .logs span {
    margin: 0;
    font-size: 16px;
}
.terminal .logs p.text-bullet {
    width: calc(100% - 15px);
    margin-left: 15px;
}

.terminal span red {
    color: #ff6060;
}
.terminal span green {
    color: #56d640;
}

.red {
    color: #ff6060;
}
.green {
    color: #56d640;
}

.blue {
    color: #0275d8 !important;
}
.blue:hover,
.blue:focus {
    color: #014c8c !important;
}

.terminal .stat-tabs {
    overflow-y: auto;
    float: right;
    padding: 10px;
    width: 30%;
    height: 100%;
}
.terminal .stat-tabs .names {
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}
.terminal .stat-tabs .stat-container.big-content .names {
    width: 35%;
}
.terminal .stat-tabs .content {
    float: right;
    width: 50%;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.terminal .stat-tabs .stat-container.big-content .content {
    width: 65%;
}
.terminal .stat-tabs > div {
    float: left;
    width: 100%;
}
.terminal .stat-tabs p {
    margin: 0;
    font-size: 16px;
}
.terminal .stat-tabs .stat-container p i {
    font-size: 14px;
}
.terminal .stat-tabs #stats-prestige p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.terminal .spacer {
    height: 14px;
}

.terminal.inverted + .input {
    background: #333;
    color: #f1f1f1;
}
.input {
    height: 42px;
    width: 100%;
    line-height: 42px;
}
.input span {
    float: left;
    margin-left: 10px;
    font-size: 26px;
    cursor: pointer;
}
.input span .unique {
    float: none;
    margin-left: 0;
    font-size: 26px;
    cursor: pointer;
}
.input .custom-input {
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left !important;
    height: 100%;
    width: calc(100% - 25px - 250px - 5px - 1px);
    margin-left: 5px;
    color: #292b2c;
}
.terminal.inverted + .input .custom-input,
.terminal.inverted .input .custom-input {
    color: #f1f1f1;
}

.achievement-block {
    width: 50px;
    height: 50px;
    color: #bfbfbf;
    border: 1px solid #8e8e8e;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.achievement-block i {
    width: 48px;
    height: 48px;
    line-height: 50px;
    font-size: 34px;
    text-align: center;
    color: #333;
}
.achievement-col p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.battery:after {
    transition: background-color 200ms;
    content: "";
    position: absolute;
    display: block;
    height: 22px;
    width: 8px;
    top: 8px;
    right: -8px;
    border: 2px solid #888;
}
.battery {
    transition: background-color 200ms;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 42px;
    background-color: none;
    border: 2px solid #888;
    border-radius: 4px;
    position: relative;
}
.battery .battery-level {
    transition: background-color 200ms;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background-color: #666;
}
.battery.high,
.battery.high:after {
    border-color: #3f923f;
}
.battery .battery-level.high {
    background-color: #5cb85c;
}
.battery.medium,
.battery.medium:after {
    border-color: #b98337;
}
.battery .battery-level.medium {
    background-color: #f0ad4e;
}
.battery.low,
.battery.low:after {
    animation: low-battery 1s infinite;
    border-color: #8e3734;
}
.battery .battery-level.low {
    background-color: #d9534f;
}