.noselect {
    cursor: default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.norotate,
.norotate:hover {
    -webkit-transform: none !important;
    transform: none !important;
}

.nomargin {
    margin: 0 !important;
}