@font-face {
    font-family: 'matrix-code';
    src: url("../fonts/matrix-code.eot?#iefix") format("embedded-opentype"),
        url("../fonts/matrix-code.woff") format("woff"),
        url("../fonts/matrix-code.ttf") format("truetype"),
        url("../fonts/matrix-code.svg#svgFontName") format("svg");
}

.matrix-effect canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    font-family: 'matrix-code';
}
