.nav.nav-tabs {
	border-bottom: 0 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-top: 1px solid #222 !important;
	border-left: 1px solid #222 !important;
	border-right: 1px solid #222 !important;
	border-bottom: 0 !important;
	background-color: #333;
	color: #9d9d9d;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
	border-bottom: 1px solid #222 !important;
	background-color: #2D2D2D;
}

.nav-tabs.nav-justified>li>a {
	border-bottom: 1px solid #222 !important;
	color: #9d9d9d !important;
}

.nav>li>a {
	transition: all 0.1s;
}

.nav>li>a:focus,
.nav>li>a:hover {
	transition: all 0.1s;
	background-color: #2D2D2D !important;
	border: 1px solid #222;
}

.nav-tabs.nav-justified>li>a {
	border: 1px solid #222;
	background-color: #333;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav .open>a:active,
.nav .open>a:visited {
	border-color: #222;
	background-color: #333;
}

.dropdown-menu>li>a {
	color: #9d9d9d !important;
}

.dropdown-menu,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
	transition: all 0.2s;
	background-color: #333;
}

.dropdown-menu>li>a:hover {
	transition: all 0.2s;
	background-color: #2D2D2D;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #2D2D2D;
}