.navbar {
	border: 0;
	border-bottom: 1px solid #222;
	border-radius: 0;
	background-color: #333;
}

.navbar-brand {
	cursor: default;
	font-size: 18px;
}

.navbar-brand small {
	font-size: 12px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.nav>li>a:focus,
.nav>li>a:hover {
	transition: background-color 0.2s;
	transition: color 0.2s;
	border: 0;
	border-color: #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	color: #333;
}

.nav.navbar-nav>li>a {
	transition: all 0.1s;
}

.nav.navbar-nav>li>a:focus,
.nav.navbar-nav>li>a:hover {
	transition: all 0.1s;
	color: #ddd;
	border: none !important;
	background-color: inherit !important;
}