@keyframes blinking-arrow {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blinking-arrow {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blinking-arrow {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes blinking-arrow {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes pulse {
    0% { opacity: 0.21; }
    25% { opacity: 0.16; }
    50% { opacity: 0.10; }
    75% { opacity: 0.18; }
    100% { opacity: 0.21; }
}

@-webkit-keyframes pulse {
    0% { opacity: 0.21; }
    25% { opacity: 0.16; }
    50% { opacity: 0.10; }
    75% { opacity: 0.18; }
    100% { opacity: 0.21; }
}

@-moz-keyframes pulse {
    0% { opacity: 0.21; }
    25% { opacity: 0.16; }
    50% { opacity: 0.10; }
    75% { opacity: 0.18; }
    100% { opacity: 0.21; }
}

@-o-keyframes pulse {
    0% { opacity: 0.21; }
    25% { opacity: 0.16; }
    50% { opacity: 0.10; }
    75% { opacity: 0.18; }
    100% { opacity: 0.21; }
}

@media (min-width: 768px) {
    .console, .console::before, .console::after {
        width: 650px;
    }
    .console::before, .console::after {
        left: 50px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 630px;
    }
    .input-container {
        width: 550px;
    }
    .infos-side {
        width: 30%;
    }
    .text-side {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .console, .console::before, .console::after {
        width: 880px;
    }
    .console::before, .console::after {
        left: 45px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 860px;
    }
    .input-container {
        width: 780px;
    }
    .infos-side {
        width: 30%;
    }
    .text-side {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .console, .console::before, .console::after {
        width: 1090px;
    }
    .console::before, .console::after {
        left: 40px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 1070px;
    }
    .input-container {
        width: 990px;
    }
    .infos-side {
        width: 30%;
    }
    .text-side {
        width: 70%;
    }
}

/* HIGHLY BASED FROM MY ORIGINAL ONE :
 * http://totominc.github.io/fallout-terminal/ */

.console {
    margin: 0 auto;
    height: 550px;
    border: 10px solid #000;
    border-radius: 20px;
    background: #1D1D1D;
}

.console::before {
    z-index: 2;
    position: absolute;
    content: '';
    height: 550px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.5;
    background: linear-gradient(135deg,
        rgba(149,149,149,0.5) 0%,
        rgba(13,13,13,0.55) 19%,
        rgba(1,1,1,0.64) 50%,
        rgba(10,10,10,0.69) 69%,
        rgba(51,51,51,0.73) 84%,
        rgba(22,22,22,0.76) 93%,
        rgba(27,27,27,0.78) 100%);
}

.console::after {
    z-index: 1;
    position: absolute;
    content: '';
    height: 550px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.05;
    background: #ddd;
}

.screen {
    z-index: 3;
    position: absolute;
    overflow: hidden;
    height: 530px;
    border-radius: 10px;
    background: #000;
    -webkit-box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
    box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
}

.screen::before {
    z-index: 10;
    position: absolute;
    content: '';
    height: 530px;
    border-radius: 10px;
    background: linear-gradient(#fff 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: 0.15;
    -o-animation: pulse 5s linear infinite;
    -moz-animation: pulse 5s linear infinite;
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

.logo-layer {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/imgs/console-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
}

.layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-radius: 10px;
    background: radial-gradient(ellipse at center,
        rgba(0,255,119,0.3) 0%,
        rgba(255,255,255,0) 100%);
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, .1);
    transform-origin: 50% 50%;
    opacity: 0.9;
}

.layer::after {
    position: absolute;
    content: '';
    height: 530px;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,0) 100%);
    opacity: 0.1;
}

.console.dark .layer {
    background: transparent !important;
}

.text {
    z-index: 4;
    position: absolute;
}

.output {
    display: block !important;
    overflow: hidden;
    padding: 10px !important;
    resize: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 0 none;
    height: 480px;
    color: #18FF62;
    text-shadow: 0px 0px 2px rgba(10, 255, 10, .8);
    line-height: 14px;
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.19) 100%);
    cursor: default;
}

.console.dark .output {
    color: #fff !important;
    text-shadow: none !important;
}

.output p {
    transition: color 1s;
    margin: 0 0 7px;
}

.console .output p {
    text-shadow: 2px 2px 8px #337147, -2px -2px 8px #337147, -2px 2px 8px #337147, 2px -2px 8px #337147;
}

.console.dark .output p {
    text-shadow: 2px 2px 8px #777, -2px -2px 8px #777, -2px 2px 8px #777, 2px -2px 8px #777;
}

.text-side {
    float: left;
    height: 100%;
}

.text-side p {
    margin: 0 !important;
    text-align: left;
    line-height: 25px;
}

.infos-side {
    float: right;
    height: 100%;
}

.infos-side p {
    text-align: right;
}

.console-bottom {
    position: absolute;
    right: 10px;
    bottom: 60px;
}

.input {
    display: block !important;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    color: #18FF62;
    text-shadow: 0px 0px 2px rgba(10, 255, 10, .8);
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.19) 100%);
}

.console.dark .input {
    color: #fff !important;
    text-shadow: none !important;
}

.blinking-arrow {
    float: left;
    height: 100%;
    width: 20px;
    margin-top: 7px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: all 150ms;
}

.blinking-arrow:hover {
    transition: all 150ms;
    text-shadow: 0px 0px 8px #18FF62;
}

.blinking-arrow > i {
    -o-animation: blinking-arrow 2s linear infinite;
    -moz-animation: blinking-arrow 2s linear infinite;
    -webkit-animation: blinking-arrow 2s linear infinite;
    animation: blinking-arrow 2s linear infinite;
}

.enter {
    float: right;
    height: 100%;
    width: 20px;
    margin-top: 7px;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: all 250ms;
}

.enter:hover {
    transition: all 250ms;
    text-shadow: 0px 0px 8px #18FF62;
}

.input-container {
    float: left;
    height: 30px;
    margin-top: 5px;
    font-size: 24px;
    margin-right: 5px;
    transition: 200ms;
}

.input-container:hover {
    transition: 200ms;
    box-shadow: 0 0 4px #18FF62;
}

.input-text {
    height: 30px;
    width: 100%;
    border: none;
    background: transparent;
}

input {
    cursor: pointer;
}

input:focus {
    outline: none;
}

*:focus {
    outline: none;
}
.row.margin-top {
    margin-top: 50px;
}
* {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
    background-color: #222;
    font-family: 'Fira Mono', 'Consolas', 'Arial';
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family: 'matrix-code';
    src: url("../fonts/matrix-code.eot?#iefix") format("embedded-opentype"),
        url("../fonts/matrix-code.woff") format("woff"),
        url("../fonts/matrix-code.ttf") format("truetype"),
        url("../fonts/matrix-code.svg#svgFontName") format("svg");
}

.matrix-effect canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    font-family: 'matrix-code';
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor {
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
	opacity: 1;
}

div.typed {
    display: block;
}

div.typed p {
    display: inline;
}
