
.console-container {
	width: 100%;
	height: 500px;
	border-bottom: 1px solid #222;
	border-right: 1px solid #222;
	border-left: 1px solid #222;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #333;
}

.console.top-bar {
	width: 100%;
	height: 14px;
	background-color: #222;
}

.console.dots-container {
	padding-left: 5px;
	width: 50px;
	height: 100%;
}

.console .dot {
	display: block;
	float: left;
	margin: 3px 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #444;
}

.console.content {
	overflow-y: auto;
	padding: 6px;
	width: 100%;
	height: calc(500px - 24px);
	max-height: calc(500px - 24px);
	color: #eee;
}

.console.logo {
	position: absolute;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.02;
	width: 590px;
	height: 193px;
	background-image: url('../assets/images/console-logo-alt.png');
	background-position: center;
	background-repeat: no-repeat;
}

.console.content > p {
	margin-bottom: 2px;
	color: #9d9d9d;
}

.console.input-container {
	padding-left: 5px;
	width: 100%;
	height: 22px;
	border-top: 1px solid #222;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.console.input-logo {
	float: left;
	height: 100%;
	font-size: 16px;
	font-family: 'Consolas';
	color: #eee;
}

.console.input {
	transition: all 0.2s;
	float: left;
	margin-left: 4px;
	width: calc(100% - 36px);
	height: 100%;
	cursor: pointer;
}

.console.input > input {
	width: 100%;
	height: 100%;
	border: 0;
	color: #fff;
	background-color: #333;
}

.console.enter {
	float: right;
	width: 22px;
	height: 100%;
	border-left: 1px solid #222;
	color: #eee;
	cursor: pointer;
}

.console.enter > i {
	margin: 4px 6px;
}

.console.ascii {
	display: table;
	margin: 0 auto;
}

.console-warn {
	color: #d35400;
}

.console-error {
	color: #c0392b;
}

.console-gain {
	color: #27ae60;
}

.console-log {
	color: #2980b9;
}

.console-help {
	color: #f1c40f;
}
.well {
	padding: 14px;
	border: 1px solid #222;
	background-color: #333;
	color: #9d9d9d;
	box-shadow: none;
}

.tab-pane > .well {
	border: 0;
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tab-panel > .well a {
	color: #9d9d9d;
	font-weight: bold;
}

.well p {
	margin: 0;
}

.well p a {
	color: #9d9d9d;
    text-decoration: underline;
    font-weight: bold;
}

.panel-default {
	border-top: 0 !important;
	border-left: 1px solid #222 !important;
	border-right: 1px solid #222 !important;
	border-bottom: 1px solid #222 !important;
}

.panel-default>.panel-heading {
	border-radius: 0;
	border-color: #222;
	color: #9d9d9d;
	background-color: #333;
}

.panel-title {
	text-align: center;
}

.panel-body {
	border-radius: 0 !important;
	background-color: #333;
}

.hack-button {
	transition: all 0.1s;
	margin: 0 auto;
	width: 100%;
	height: 36px;
	border: 1px solid #27ae60;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	line-height: 36px;
	margin-bottom: 20px;
}

.hack-button:hover {
	transition: all 0.1s;
	background-color: rgba(0, 0, 0, 0.1);
}

.hack-button > p {
	margin: 0;
	text-align: center;
	font-size: 18px;
	color: #27ae60;
}

.btn-default {
	transition: all 0.2s;
	color: #9d9d9d;
	background-color: #3A3A3C;
	border-color: #1F1F1F;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:hover:active {
	transition: all 0.2s;
	color: #9d9d9d;
	background-color: #343435;
	border-color: #1F1F1F;
}
.floating-text {
    position: absolute;
    color: #27ae60;
    text-shadow: 0 0 3px #2ecc71;
}
.footer {
    bottom: 0px;
    left: 0px;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 25px;
    color: #9d9d9d;
    border-top: 1px solid #222;
	border-radius: 0;
	background-color: #333;
	position: fixed;
}
.footer a {
    color: #9d9d9d;
    text-decoration: underline;
    font-weight: bold;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Mono', 'Consolas', 'Arial';
	background-color: #3A3A3C;
	margin-bottom: 20px;
}

input:focus {
	outline: none;
}

pre {
	border: none;
	color: #9d9d9d;
	background-color: transparent;
	font-size: 12px;
}
.nav.nav-tabs {
	border-bottom: 0 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-top: 1px solid #222 !important;
	border-left: 1px solid #222 !important;
	border-right: 1px solid #222 !important;
	border-bottom: 0 !important;
	background-color: #333;
	color: #9d9d9d;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
	border-bottom: 1px solid #222 !important;
	background-color: #2D2D2D;
}

.nav-tabs.nav-justified>li>a {
	border-bottom: 1px solid #222 !important;
	color: #9d9d9d !important;
}

.nav>li>a {
	transition: all 0.1s;
}

.nav>li>a:focus,
.nav>li>a:hover {
	transition: all 0.1s;
	background-color: #2D2D2D !important;
	border: 1px solid #222;
}

.nav-tabs.nav-justified>li>a {
	border: 1px solid #222;
	background-color: #333;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav .open>a:active,
.nav .open>a:visited {
	border-color: #222;
	background-color: #333;
}

.dropdown-menu>li>a {
	color: #9d9d9d !important;
}

.dropdown-menu,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
	transition: all 0.2s;
	background-color: #333;
}

.dropdown-menu>li>a:hover {
	transition: all 0.2s;
	background-color: #2D2D2D;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: #2D2D2D;
}
.navbar {
	border: 0;
	border-bottom: 1px solid #222;
	border-radius: 0;
	background-color: #333;
}

.navbar-brand {
	cursor: default;
	font-size: 18px;
}

.navbar-brand small {
	font-size: 12px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: #9d9d9d;
}

.nav>li>a:focus,
.nav>li>a:hover {
	transition: background-color 0.2s;
	transition: color 0.2s;
	border: 0;
	border-color: #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	color: #333;
}

.nav.navbar-nav>li>a {
	transition: all 0.1s;
}

.nav.navbar-nav>li>a:focus,
.nav.navbar-nav>li>a:hover {
	transition: all 0.1s;
	color: #ddd;
	border: none !important;
	background-color: inherit !important;
}
/* from stackoverflow : http://stackoverflow.com/a/4407335 */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track { 
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
